@mixin set-height($h: auto) {
  height: $h;
  min-height: $h;
}

@mixin set-width($w: auto) {
  width: $w;
  min-width: $w;
}

@mixin set-size($size: auto) {
  @include set-height($size);
  @include set-width($size);
}

@mixin circle($diameter) {
  @include set-size($diameter);
  border-radius: calc(#{$diameter} * 0.5);
}

@mixin visible-before-after($position: absolute) {
  content: ' ';
  display: flex;
  position: $position;
}

@mixin flex-x-center() {
  display: flex;
  justify-content: center;
}

@mixin flex-y-center() {
  display: flex;
  align-content: center;
  align-items: center;
}

@mixin flex-center() {
  @include flex-x-center();
  @include flex-y-center();
}

@mixin my($value) {
  margin-top: $value;
  margin-bottom: $value;
}

@mixin mx($value) {
  margin-left: $value;
  margin-right: $value;
}

@mixin py($value) {
  padding-top: $value;
  padding-bottom: $value;
}

@mixin px($value) {
  padding-left: $value;
  padding-right: $value;
}

@mixin position-sticky {
  position: fixed;
  @supports (position: sticky) {
    position: sticky;
  }
}

@mixin radius($h: $controlHeight) {
  // It's moved into mixin for ability to make ui not rounded all over components
  border-radius: calc(#{$h} * 0.5);
  // border-radius: 0.5rem;
}

@mixin stretch-x($value: 0) {
  left: $value;
  right: $value;
}

@mixin stretch-y($value: 0) {
  top: $value;
  bottom: $value;
}

@mixin stretch($value: 0) {
  @include stretch-x($value);
  @include stretch-y($value);
}

@mixin cover() {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}
