// colors
$savoy-blue: #656da4;
$lavender-web: #d9dbf1ff;
$ivory: #f9f9edff;
$mindaro: #b4e949;
$c-purple-1: #f2ebff;
$c-purple-2: #e0d1ef;
$c-purple-3: #cec2ff;

// borders
$b-blue: 1px solid $savoy-blue;
$b-green: 1px solid $mindaro;
$b-purple-2: 1px solid $c-purple-2;
$b-purple-3: 1px solid $c-purple-3;
